node-red flow/flowscompact.json
[{"id":"5c56628e.763f9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2055a6c.4696a5a","type":"switch","z":"5c56628e.763f9c","name":"Check payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":340,"wires":[["ad105a02.d0ed78"],["f1853809.db85b8"]]},{"id":"f1853809.db85b8","type":"change","z":"5c56628e.763f9c","name":"On Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["c8a8019a.4289"]]},{"id":"ad105a02.d0ed78","type":"change","z":"5c56628e.763f9c","name":"On Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["3624e5f9.d010ca"]]},{"id":"28db2e1b.8c6612","type":"inject","z":"5c56628e.763f9c","name":"every 10sec","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":200,"y":400,"wires":[[]]},{"id":"73fbabe2.9820a4","type":"http request","z":"5c56628e.763f9c","name":"get authentication","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1448535/fields/1.json?api_key=5660BHGKEVC4YZ8V&results=1","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":400,"wires":[["b8ae931d.53d4c"]]},{"id":"3243b33c.9d85ac","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"b8ae931d.53d4c","type":"function","z":"5c56628e.763f9c","name":"","func":"feeds_array = msg.payload[\"feeds\"]\nmsg.payload = feeds_array[0][\"field1\"]\nmsg.authtime = feeds_array[0][\"created_at\"]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":400,"wires":[["229afece.d09632"]]},{"id":"3624e5f9.d010ca","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"c8a8019a.4289","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":480,"wires":[]},{"id":"229afece.d09632","type":"change","z":"5c56628e.763f9c","name":"time now","rules":[{"t":"set","p":"timenow","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["25c47c0c.9c8494"]]},{"id":"3a7eef8c.ee5bd","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"authtime","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":40,"wires":[]},{"id":"25c47c0c.9c8494","type":"function","z":"5c56628e.763f9c","name":"","func":"var timegap\nauthtime = msg.authtime\ntimenow = msg.timenow\n\ntimenow = timenow.substring(11,19)\ntimenow = timenow.replace(\":\",\"\")\ntimenow = timenow.replace(\":\",\"\")\n// msg.timenow = timenow\n\nauthtime = authtime.substring(11,19)\nauthtime = authtime.replace(\":\",\"\")\nauthtime = authtime.replace(\":\",\"\")\n// msg.authtime = authtime\n\ntimenow = parseInt(timenow)\nauthtime = parseInt(authtime)\n\ntimegap = timenow - authtime\n\nmsg.timegap = timegap\n\nif (timegap < 11){\n    msg.payload = 1\n    return msg;\n}\nelse{\n    msg.payload = 0\n    return msg;\n}\n    \n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["4dac612c.97a7a","3a7eef8c.ee5bd","f58137b2.ee4688","2055a6c.4696a5a"]]},{"id":"4dac612c.97a7a","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"f58137b2.ee4688","type":"debug","z":"5c56628e.763f9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timegap","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]}]